[submodule "Datasets/Loadstar"]
	path = Datasets/Loadstar
	url = https://github.com/Benksy/Loadstar.git
[submodule "Datasets/coreutils-arm"]
	path = Datasets/coreutils-arm
	url = git@github.com:Q1IQ/coreutils-arm.git
[submodule "Datasets/coreutils-mips"]
	path = Datasets/coreutils-mips
	url = https://github.com/gdjs2/coreutils-mips.git
