[submodule "Datasets/Loadstar"]
	path = Datasets/Loadstar
	url = https://github.com/Benksy/Loadstar.git
[submodule "Datasets/OpenSSL-x64"]
	path = Datasets/OpenSSL-x64
	url = git@github.com:gdjs2/OpenSSL-x64.git
[submodule "Datasets/chromium-PE-x64"]
	path = Datasets/chromium-PE-x64
	url = git@github.com:gdjs2/chromium-PE-x64.git
